body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 38px;
    display: block;
    margin: 20px auto;
    width: 50%;
    text-align: center;
    max-width: 600px;
    min-width: 258px;
    border: 4px dotted royalblue;
    padding: 2%;
}

/* container for statsBox and changeBox*/
.outerStatsBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 100%;
}

/* displays score and time remaining */
.statsBox {
    border: 3px dotted darkorange;
    text-align: right;
    padding: 6px;
    min-width: 173px;
}

/* Contains the text for gaining points or losing time */
.changeBox {
    padding: 10px;
}

/* gaining points text */
.correct {
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 6px;
    color: green;
}

/* losing time text */
.wrong {
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 6px;
    color: red;
}

/* line of text for time left */
.timer {
    padding: 5px;
}

/* line of text for score */
.score {
    padding: 5px;
}

/* spans of the number of seconds left and points */
.seconds, .scoreCount {
    font-size: 20px;
    font-weight: 700;
}

/* text for question number / game over */
.gameStatus {
    font-size: 20px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    text-decoration: underline;
    font-weight: 600;
}

/* new game button */
.newGame {
    height: 50px;
    width: 100px;
    margin: auto;
}

/* box where questions and answers, new game button, and leaderboard are displayed */
.qa {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    margin: auto;
    width: 40%;
    min-height: 200px;
    min-width: 258px;
    border: 3px dotted green;
    padding: 15px 30px;
}

/* question text */
.questionContent {
    text-align: center;
}

/* list of answer choices */
.choiceList {
    float: left;
}

/* choice buttons A to D*/
.choiceList button {
    width: 30px;
}

/* initials input box and submit button */
.initialsForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* initials input box */
.initialsForm input {
    width: 50px;
}

/* leaderboard heading and list */
.leaderboard {
    margin: auto;
    width: 50%;
    max-width: 200px;
}

/* leaderboard heading */
.leaderboard h2 {
    font-size: 20px;
    text-align: center;
}

/* leaderboard list */
.leaderboardList {
    list-style:decimal;
}

/* leaderboard list item */
.leaderboardList li {
    text-align: left;
}

/* span for score of each leaderboard list item */
.leaderboardList li span {
    float: right;
}