body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    /* margin-left: auto; */
}

.title {
    font-size: 32px;
    display: block;
    font-weight: 700;
    /* margin: 20px; */
    /* max-width: 438px; */
    /* flex: 0 1 auto; */
    /* width: 50%; */
    text-align: center;
    max-width: 600px;
    min-width: 258px;
    border: 4px dotted royalblue;
    padding: 10px 10px 16px 10px;
}

.midAndBottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

/* container for statsBox and changeBox*/
.outerStatsBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 10px;
    /* margin-left: 40%;
    width: 50%; */
}

/* displays score and time remaining */
.statsBox {
    border: 3px dotted darkorange;
    text-align: right;
    padding: 6px;
    min-width: 173px;
}

/* Contains the text for gaining points or losing time */
.changeBox {
    margin: 10px;
    align-self: center;
    /* margin: auto auto auto 0px; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* gaining points text */
.correct {
    display: block;
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    /* padding: 6px 0px 0px 6px; */
    color: green;
}

/* losing time text */
.wrong {
    display: block;
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    /* padding: 6px 0px 0px 6px; */
    color: red;
}

/* line of text for time left */
.timer {
    padding: 5px;
}

/* line of text for score */
.score {
    padding: 5px;
}

/* spans of the number of seconds left and points */
.seconds, .scoreCount {
    font-size: 20px;
    font-weight: 700;
}

/* text for question number / game over */
.gameStatus {
    font-size: 20px;
    text-align: center;
    /* margin: auto; */
    margin-top: 10px;
    text-decoration: underline;
    font-weight: 600;
}

/* new game button */
.newGame {
    height: 50px;
    width: 100px;
    margin: auto;
}

/* box where questions and answers, new game button, and leaderboard are displayed */
.qa {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    /* margin: auto; */
    /* width: 40%; */
    width: 400px;
    height: 250px;
    margin-top: 10px;
    /* min-height: 200px;*/
    /* min-width: 258px; */
    border: 3px dotted green;
    padding: 15px 30px;
}

/* question text */
.questionContent {
    text-align: center;
}

/* list of answer choices */
.choiceList {
    float: left;
}

/* choice buttons A to D*/
.choiceList button {
    width: 30px;
}

/* initials input box and submit button */
.initialsForm {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* initials input box */
.initialsForm input {
    width: 50px;
}

/* leaderboard heading and list */
.leaderboard {
    margin: auto;
    width: 50%;
    max-width: 200px;
}

/* leaderboard heading */
.leaderboard h2 {
    font-size: 20px;
    text-align: center;
}

/* leaderboard list */
.leaderboardList {
    list-style:decimal;
}

/* leaderboard list item */
.leaderboardList li {
    text-align: left;
}

/* span for score of each leaderboard list item */
.leaderboardList li span {
    float: right;
}

@media screen and (max-width: 790px){
    .choiceList button {
        width: 50px;
        height: 30px;
    }
}

@media screen and (max-width: 496px){
    .qa {
        width: auto;
    }
}

@media screen and (max-width: 390px){
    .correct, .wrong {
        font-size: 15px;
    }
    .choiceList {
        font-size: 14px;
    }
    .qa {
        padding: 15px 20px;
    }
}